body {
  /*
  font-family: Arial, Helvetica, sans-serif;
  */
}


/* navbar */

header > div.navbar {
  /* for overlay */
  /* position: relative; */
  /* for overlay */
}

/*
header > header-body {
  display: block;
  padding-top: 40px;
}
*/

/*
header > div.navbar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
*/
  /* for overlay */
 /* position: absolute;
  left: 0;
  top: 100%;
  width: 100%;*/
  /* for overlay */
/* } */


/*
header > div.navbar > ul > li {
  float: left;
}
*/


/*
#home-tag {
  background-color: white;
  color: black;
  width: 8em;
}
*/
/*
header > div.navbar > ul > li a {
  display: block;
  padding: 8px;
  background-color: #573e84;
  color: white;
  text-decoration: none;
}
*/
/* end navbar */



.navbar {
  height: 30px;
  overflow: hidden;
  background-color: #573e84;
}

.navbar a {
  float: left;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 4px 16px 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 14px;  
  border: none;
  outline: none;
  color: white;
  padding: 4px 16px 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: pink;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content:hover { display: block; }
.dropdown-content:hover .dropdown { display: block; }




